/*-------------------------
  Color Scheme: Nord
-------------------------*/
:root {
  --darkBase: #262c35;
  --base: #2e3440;
  --polarShade1: #3b4252;
  --polarShade2: #434c5e;
  --polarShade3: #4c566a;
  --snowStorm1: #d8dee9;
  --snowStorm2: #eceff4;
  --frost1: #8fbcbb;
  --frost2: #88c0d0;
  --frost3: #81a1c1;
  --frost4: #5e81ac;
  --red: #bf616a;
  --peach: #d08770;
  --yellow: #ebcb8b;
  --green: #a3be8c;
  --violet: #b48ead;
}

@font-face {
  font-family: 'SF';
  src: url(./metadata/SF-Pro.ttf);
}
* {
  font-family: 'SF';
}
body {
  background-color: var(--darkBase);
  color: var(--snowStorm2);
  margin: 0;
}

/*-------------------------
  Header
-------------------------*/
header {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  position: fixed;
  top: 0;
  margin-top: 16px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--base);
  border-radius: 16px;
}
header div {
  padding: 8px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header div img {
  width: 24px;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--snowStorm1);
}
header p {
  font-weight: 500;
  font-size: 16px;
}
header span {
  padding-top: 2px;
  font-size: 14px;
  font-weight: 600;
  color: var(--snowStorm2);
}

/*-------------------------
  Footer
-------------------------*/
footer {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  position: fixed;
  bottom: 0;
  
  background-color: var(--base);
  border-radius: 12px;
  
  
}