/*-------------------------
  Color Scheme: Nord
-------------------------*/
:root {
  --darkBase: #262c35;
  --base: #2e3440;
  --polarShade1: #3b4252;
  --polarShade2: #434c5e;
  --polarShade3: #4c566a;
  --snowStorm1: #d8dee9;
  --snowStorm2: #eceff4;
  --frost1: #8fbcbb;
  --frost2: #88c0d0;
  --frost3: #81a1c1;
  --frost4: #5e81ac;
  --red: #bf616a;
  --peach: #d08770;
  --yellow: #ebcb8b;
  --green: #a3be8c;
  --violet: #b48ead;
}

@font-face {
  font-family: 'SF';
  src: url(./metadata/SF-Pro.ttf);
}
* {
  font-family: 'SF';
}

/* let page take full heigh of viewport excess */
html {height: 100%;} body {position: absolute; top:0; bottom:0; right:0; left:0;}

body {
  background-color: var(--darkBase);
  color: var(--snowStorm2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
  padding: 24px; 
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/*-------------------------
  Header
-------------------------*/
header {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  background-color: var(--base);
  border-radius: 16px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.0),
                    0 22px 70px 4px rgba(0,0,0,0.3),
                    0 0 0 1px rgba(0, 0, 0, 0.0);
}
header div {
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header div img {
  width: 24px;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--snowStorm1);
}
header p {
  font-weight: 500;
  font-size: 16px;
}
header span {
  padding-top: 2px;
  font-size: 16px;
  font-weight: 600;
  color: var(--snowStorm2);
}

/*-------------------------
  Primary Content
-------------------------*/
main {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  width: auto;
  height: auto;
  padding: 24px;
  gap: 24px;
  border-radius: 16px;
  background-color: var(--base);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.0),
                    0 22px 70px 4px rgba(0,0,0,0.44),
                    0 0 0 1px rgba(0, 0, 0, 0.0);
}
#bot-container {
  width: 92px;
  height: 92px;
  transform: rotate(180deg);
}
#bot-container img {
  width: 92px;
  height: 92px;
}

/* Hand Selection Carousels  */
#user-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 92px;
}
.selected-hand {
  width: 92px;
  height: auto;
  padding: 0;
  margin: 0;
}
.not-selected-hand {
  width: 64px;
  height: auto;
  padding: 0;
  margin: 0;
  opacity: 0.69;
  cursor: pointer;
}
.not-selected-hand:hover {
  opacity: 1.0;
}
.not-selected-hand:active {
  opacity: 0.69;
}
#user-container :nth-child(1) { order: 1; }
#user-container :nth-child(2) { order: 2; }
#user-container :nth-child(3) { order: 3; }


#start-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: var(--polarShade1);
  border-radius: 16px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 8px;
  padding-bottom: 8px;  
  cursor: pointer;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.0),
                    0 22px 70px 4px rgba(0,0,0,0.33),
                    0 0 0 1px rgba(0, 0, 0, 0.0);
}
#start-container:hover {
  background-color: var(--polarShade2);
  color: var(--frost1);
}
#start-button {
  font-family: 'SF';
  font-weight: 700;
  font-size: 18px;
  color: var(--red);
  background: none;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
}
#start-button:hover {
  color: var(--frost1);
}
#start-button::after {
  color: var(--red);
}
#start-button:active {
  color: var(--red);
}
.pointers img {
  width: 12px;  
}

/*-------------------------
  Footer
-------------------------*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 58px;
  width: auto;
}
#trademark-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: var(--base);
  border-radius: 16px;
  width: 116px;
  height: 80px;
  padding: 8px 16px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.0),
                    0 22px 70px 4px rgba(0,0,0,0.3),
                    0 0 0 1px rgba(0, 0, 0, 0.0);
}
.actions-container-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-right: 8px;
  border-right: 1px solid var(--polarShade3);
}
.actions-container-1 div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.actions-container-1 span {
  font-family: 'SF';
  font-weight: 500;
  font-size: 16px;
  color: var(--violet);
  padding-bottom: 4px;
  border-bottom: 1px solid var(--polarShade3);
}
.actions-container-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}
.settings {
  width: 32px;
  height: auto;
  cursor: pointer;
}
.socials {
  margin-top: 4px;
  width: 32px;
  height: auto;
  cursor: pointer;
}
#reset-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--base);
  border-radius: 16px;
  width: 60px;
  height: 80px;
  padding: 8px 16px;
  cursor: pointer;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.0),
                    0 22px 70px 4px rgba(0,0,0,0.3),
                    0 0 0 1px rgba(0, 0, 0, 0.0);
}
#reset-container img {
  width: 42px;
}
#reset-container span {
  margin-top: 8px;
  font-family: 'SF';
  font-weight: 500;
  font-size: 18px;
  color: var(--peach);
}